html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

label {
    width: 200px;
    background-color: black;
    color: white;
    font-size: 32px;
    font-family: sans-serif;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}

#uploaded {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    border: 10px solid rgb(48, 48, 48);
    background: color rgb(48, 48, 48);
}
